{% extends "layout/master.html" %} {% block content %}

<section class="container about-us">
  <div class="about-video">
    <img src="images/about.jpg" alt="" />
  </div>
  <div class="about-description">
    <p>
      An online furniture shop is a retail platform where customers can browse and purchase furniture items for their
      homes. These shops offer a wide variety of styles, designs, and brands of furniture, making it convenient for
      consumers to choose pieces that fit their personality and taste. Online furniture shops often provide detailed
      images and descriptions of their products, making it easy to make informed purchasing decisions. Quality materials
      and manufacturing are also crucial factors to consider when buying furniture online.
    </p>
  </div>
</section>
{% endblock %}
