{% extends "layout/master.html" %}
{% block content %}
    <div class="checkout-grid">
        <!-- Left Column: Checkout Form -->
        <div class="checkout-form">
            <h2>Checkout</h2>
            <form method="POST" action="/checkout">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" value="{{user.firstName}}" readonly required>

                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" value="{{user.lastName}}" readonly required>


                <label for="address">Address:</label>
                <textarea id="address" name="address" required></textarea>

                <div>
                    <label for="payment-method">Payment Method:</label>
                    <input type="radio" name="payment-method" required><span> Cash</span>
                </div>

                <button type="submit">Proceed</button>
            </form>
        </div>

        <!-- Right Column: Products and Total -->
        <div class="checkout-products">
            <h2>Your Products</h2>
            <ul>
                {% for item in cart %}
                    <li>{{item.name}} - {{currency}}{{item.price}}({{item.quantity}})</li>
                {% endfor %}
            </ul>
            <div class="checkout-total">
                <p>Total: {{currency}}{{cartTotal}}</p>
            </div>
        </div>
    </div>
{% endblock %}
