{% extends "layout/master.html" %} {% block content %}
<div class="login-container">
  <h2>Login</h2>
  {% if login %}
  <div class="error">
    <p>{{ login }}</p>
  </div>
  {% endif %} {% if success %}
  <div class="success">
    <p>{{ success }}</p>
  </div>
  {% endif %}
  <form class="login-form" method="POST" action="/login">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />

    <button type="submit">Login</button>
    <a href="/register" type="submit">Register</a>
  </form>
</div>
{% endblock %}
